<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Travel_jsp_lab</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>TourSearch</display-name>
		<servlet-name>TourSearch</servlet-name>
		<servlet-class>controller.TourSearch</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BookingList</display-name>
		<servlet-name>BookingList</servlet-name>
		<servlet-class>controller.BookingList</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>controller.Home</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>UserCreate</display-name>
		<servlet-name>UserCreate</servlet-name>
		<servlet-class>controller.UserCreate</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TourEdit</display-name>
		<servlet-name>TourEdit</servlet-name>
		<servlet-class>controller.TourEdit</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TourCreate</display-name>
		<servlet-name>TourCreate</servlet-name>
		<servlet-class>controller.TourCreate</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TourList</display-name>
		<servlet-name>TourList</servlet-name>
		<servlet-class>controller.TourList</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TourDetail</display-name>
		<servlet-name>TourDetail</servlet-name>
		<servlet-class>controller.TourDetail</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BookingDetail</display-name>
		<servlet-name>BookingDetail</servlet-name>
		<servlet-class>controller.BookingDetail</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>UserRegister</display-name>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>controller.user.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCreate</servlet-name>
		<url-pattern>/UserCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourCreate</servlet-name>
		<url-pattern>/TourCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourEdit</servlet-name>
		<url-pattern>/TourEdit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourList</servlet-name>
		<url-pattern>/TourList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourDetail</servlet-name>
		<url-pattern>/TourDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingDetail</servlet-name>
		<url-pattern>/BookingDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookingList</servlet-name>
		<url-pattern>/BookingList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourSearch</servlet-name>
		<url-pattern>/TourSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.scss</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.tff</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>*.svg</url-pattern>
	</servlet-mapping>
</web-app>